<div class="card col m-2" style="width: 18rem;">
  <img src="https://picsum.photos/seed/flat,NY/200/200" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=flat.name%></h5>
    <p class="card-text"><%=flat.description%></p>
    <%=link_to 'Details', flat_path(flat), class: "btn btn-primary" %>
  </div>
</div>