<div class="container">
  <%=render "navbar"%>
  <!--TODO-->
  <div class="container">
    <h1>All of our flat (<%=@flats.count%>)</h1>
    <div class="row row-cols-3">
      <%@flats.each do |flat|%>
        <%= render "card", flat: flat%>
      <%end%>
    </div>
  </div>
</div>